
@import "css-variables";
@import "var";
@import "reset";
@import "define";
@import "animation";
@import "transition";
@import "iconfont";

input:disabled, input[disabled]{
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-text-fill-color: #b9b9b9 !important;
    color: #b9b9b9 !important;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder{
    color: #4a6385;
}
textarea::-moz-placeholder,
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #4a6385;
}
textarea:-moz-placeholder,
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: #4a6385;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4a6385;
}

body{
    background-color: $color-background;
}
.c-flex1{
    @extend %df1;
}
.c-button{
    @extend %df;
    @extend %pr;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    @extend %bsb;
    @extend %c3;
    width: j(72);
    height: j(30);
    border-radius: j(15);
    font-size: j(14);
    background-image: $gradient-primary-color;
}
.c-button-large{
    @extend %ma;
    font-size: j(16);
    width: j(335);
    height: j(44);
    border-radius: j(22);
}
.c-button-border{
    color: #d6d6d6;
    border: 1px solid #d6d6d6;
    background-image: none;
}
.c-arrow{
    width: j(6);
    height: j(6);
    border-top: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    &.right{
        @include tfr(45deg);
        margin-left: j(5);
    }
    &.bottom{
        @include tfr(135deg);
        margin-left: j(15);
        margin-bottom: j(10);
    }
    &.left{
        @include tfr(-135deg);
        margin-left: j(15);
        margin-bottom: j(10);
    }
    &.top{
        @include tfr(-45deg);
        margin-left: j(15);
    }
}
